name: Backend CI

on:
  push:
    branches:
      - master
    paths:
      - "**/*.kt"
      - "build.gradle.kts"
      - "settings.gradle.kts"
      - ".github/workflows/backend-ci.yml"

  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test --stacktrace

      - name: Archive JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: build/libs/*.jar
